.layout-posts {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "sidebar navbar"
        "content content";
    row-gap: 2rem;
    column-gap: 2rem;
    padding: 1rem 2rem;
}

.layout-posts-sidebar {
    grid-area: sidebar;
    align-self: end;
}

.layout-posts-navbar {
    grid-area: navbar;
    display: flex;
    gap: 0.75rem;
    align-self: end;
}

.layout-posts-content {
    grid-area: content;
}

@media (max-width: 767px) {
    .layout-posts {
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "sidebar"
        "navbar"
        "content";
        row-gap: 1rem;
        column-gap: 0;
    }
}
