@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Overview";
}

<div class="home-content-item">
	<h1 class="text-color-light mb-2">
		Hi there 👋, I'm Vladimir Deryagin
	</h1>
	<p class="text-color-light mb-2">
		I'm a software engineer at <a class="text-color-link" href="https://ozon.tech/" target="_blank" rel="noreferrer noopener">Ozon</a>, and I'm passionate about learning new programming (and not just programming) languages and sharing my knowledge with others.
		Working professionally with <span class="text-color-code">C#</span>, learning <span class="text-color-code">Go</span> and <span class="text-color-code">F#</span>.
	</p>

	<p class="text-color-light mb-2">
		Ozon is one of the largest e-commerce companies in the country.
		Imagine that you are a seller, and you have 100 iPhones.
		My job is to give you an information on which warehouses to send your iPhones to so that you can sell them all as quickly as possible.
	</p>

	<p class="text-color-light mb-2">
		Outside of work I'm also a <span class="text-color-code">C#</span> mentor
		at <a class="text-color-link" href="https://exercism.org/" target="_blank" rel="noreferrer noopener">Exercism</a> and
		at <a class="text-color-link" href="https://route256.ozon.ru/" target="_blank" rel="noreferrer noopener">Route256</a>.
	</p>
</div>
