@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Overview";
}

<div class="home-content-item">
	<h1 class="text-color-light mb-2">
		Hi there 👋, I'm Vladimir Deryagin
	</h1>

	<p class="text-color-light mb-2">
		I'm a Senior Software Engineer at <a class="text-color-link" href="https://www.hellofreshgroup.com" target="_blank" rel="noreferrer noopener">HelloFresh SE</a>, currently based in Berlin. I'm passionate about learning new programming languages and sharing my knowledge with others.
		I have professional experience with <span class="text-color-code">C#</span> and I'm actively learning <span class="text-color-code">Rust</span> and <span class="text-color-code">Go</span>.
	</p>

	<p class="text-color-light mb-2">
		<a class="text-color-link" href="https://www.hellofreshgroup.com" target="_blank" rel="noreferrer noopener">HelloFresh SE</a> is a leading global meal-kit company that delivers fresh, pre-portioned ingredients and recipes to customers' doors, making it easy to cook delicious meals at home.
		Here, I work on the development of the Production Control System. This system is crucial for managing and optimizing out production processes, ensuring that our operations run smoothly and efficiently.
	</p>
	
	<p class="text-color-light mb-2">
		Previously, I worked at <a class="text-color-link" href="https://ozon.tech/" target="_blank" rel="noreferrer noopener">Ozon</a>, one of the largest e-commerce companies in the country.
		There, I was responsible for creating algorithms to optimize items distribution across warehouses, ensuring that sellers could maximize their sales potential by placing products in the right locations.
	</p>

	<p class="text-color-light mb-2">
		Outside of work, I mentor aspiring developers in <span class="text-color-code">C#</span>
		at <a class="text-color-link" href="https://exercism.org/" target="_blank" rel="noreferrer noopener">Exercism</a> and
		at <a class="text-color-link" href="https://route256.ozon.ru/" target="_blank" rel="noreferrer noopener">Route256</a>,
		helping them to grow their skills and confidence in programming.
	</p>
</div>
